*{
  margin:0;
  padding:0;
  box-sizing: 'border-box';
  font-family: 'Roboto', sans-serif,'SemiBold';
}
.active:hover{
  background: linear-gradient(90deg, rgba(0, 30, 247, 0.2) 0%, rgba(0, 0, 0, 0) 94.4%), #F3F3F3;
}
.activeLink:hover{
  text-decoration: underline;
}
.flex{
  display: flex;
  align-items: center;
}
.activeTable:hover{
  background-color: #ededed;
}

